<div class="container mt-5 text-center">
  <h1>Welcome to No_Airbnb</h1>
    <p>"Space travel is life-enhancing, and anything that's life-enhancing
      is worth doing. It makes you want to live forever."</p>
<div class="index-grid">
<% @spaceflights.each do |spaceflight| %>
  <%= link_to spaceflight_path(spaceflight) do %>
  <div class="card" style="width: 18rem;">
  <% if spaceflight.ship_image %>
    <%= image_tag spaceflight.ship_image %>
  <% end %>
    <div class="card-body">
    <p class="card-text">
      <%= spaceflight.overview %>
      <%= spaceflight.destination %>
      <%= spaceflight.cabin_class %>
    </p>
    </div>
  </div>
  <% end %>
<% end %>
</div>
