<div class="container mt-5 text-center">
  <h1>Welcome to No_Airbnb</h1>
<div class="index-grid">
<% @spaceflights.each do |spaceflight| %>
  <%= link_to spaceflight_path(spaceflight) do %>
  <div class="card" style="width: 18rem;">
    <%= image_tag spaceflight.ship_image %>
    <div class="card-body">
    <p class="card-text">
      <%= spaceflight.overview %>
      <%= spaceflight.destination %>
      <%= spaceflight.cabin_class %>
    </p>
    </div>
  </div>
  <% end %>
<% end %>