<div class="container mt-5 text-center">
  <h1>Welcome to No_Airbnb</h1>
<div class="index-grid relative">
<% @spaceflights.each do |spaceflight| %>
  <%= link_to spaceflight_path(spaceflight) do %>
  <div class="card-spaceflight myDIV" style="width: 18rem;">
    <% if spaceflight.ship_image %>
      <%= image_tag spaceflight.ship_image %>
      <%# <div class="myDIV">Hover over me.</div> %>
    <% end %>
    <div class="card-spaceflight-infos">
    <p class="card-text">
      <%= spaceflight.overview %>
      <%= spaceflight.destination %>
      <%= spaceflight.cabin_class %>
    </p>
    </div>
     <%# <div class="myDIV">Hover over me.</div>
     <div class="hide flame">I am shown when someone hovers over the div above.</div> %>
  </div>
  <div class="hide flame"></div>
  <% end %>
<% end %>
</div>
</div>
