
<% @spaceflights.each do |spaceflight| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%=spaceflight.ship_image%>" alt="Card image cap">

    <img class="card-img-top" src="<%=image_path('serenity.png')%>" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
              <%= spaceflight.overview %>
              <%= spaceflight.destination %>
              <%= spaceflight.cabin_class %>
    </p>
    </div>
  </div>
<% end %>
