<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 my-4">
      <%= simple_form_for @spaceflight do |f| %>
      <%= f.input :name %>
      <%= f.input :duration %>
      <%= f.input :overview %>
      <%= f.input :cabin_class %>
      <%= f.input :destination %>
      <%= f.input :ship_image %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
   </div>
  </div>
</div>
