

<h1>Spaceflights</h1>
<p>"Space travel is life-enhancing, and anything that's life-enhancing is worth doing. It makes you want to live forever."</p>
  <div class="card">
    <%= image_tag @spaceflight.ship_image, width: 250 %>
    <p class="card-text">
      <span class="selected">Name:</span><%= " #{@spaceflight.name}" %><br>
      <span class="selected">Overview:</span><%= " #{@spaceflight.overview}" %><br>
      <span class="selected">Duration:</span><%= " #{@spaceflight.duration} days" %><br>
      <span class="selected">Departure:</span><%= " #{@spaceflight.departure_location}" %> <br>
      <span class="selected">Destination:</span><%= " #{@spaceflight.destination}" %> <br>
      <span class="selected">Cabin class:</span><%= " #{@spaceflight.cabin_class}" %> <br>
      <span class="selected">Price:</span><%= " #{@spaceflight.price}.000.000 €" %> <br>
    </p>
    <button type="button" style="text-decoration:none" class="btn btn-warning"><%= link_to 'back to Spaceflights', spaceflights_path %></button>
  </div>
