

<h1>Spaceflight</h1>
  <div class="card">
    <%= image_tag @spaceflight.ship_image, width: 250 %>
    <ul>
       <li><%= @spaceflight.name %></li>
       <li><%= @spaceflight.duration %></li>
       <li><%= @spaceflight.overview %></li>
    </ul>
<%= link_to 'back to Spaceflights', spaceflights_path %>
  </div>
