<!DOCTYPE html>
<html>
  <head>
    <title>NoAirbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="banner" id="header">
      <nav class="navbar navbar-toggle-md-inverse nav-home">
        <div class="container container-nav">
        </div>
      </nav>
    </header>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://img.freepik.com/vektoren-premium/rakete-symbol-rocket-and-planets-raum-ikonen-weiss-lokalisiert_138676-551.jpg?w=2000" %>
        <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <div class="search-icon nav-item d-flex align-items-center" data-controller="search">
            <div class="search-container opacity-0" data-search-target="bar" style="top: 65px; transition: 0.2s ease all">
              <span class="polygon-arrow"></span>
              <div class="search-box">
                <input type="text" placeholder="Search" alt="Search" maxlength="256" title="search box">
                <a class="btn-search text-decoration-none">Search</a>
              </div>
            </div>
            <a class="search-button nav-link" href="#" spaceflights="search" data-action="click->search#expand">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </div>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://images.unsplash.com/photo-1601814933824-fd0b574dd592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWxpZW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
      <article class="flex-grow-1">
        <%= yield %>
      </article>
     <div class="footer">
      Contact us
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer was crafted with spacemagic <i class="fa-solid fa-rocket"></i>   <i class="fa-solid fa-wand-magic-sparkles"></i> at Le Wagon
      </div>
    </div>
    </footer>
  </body>
</html>
